.usa-banner {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #f0f0f0;
}
.usa-accordion {
    list-style-type: none;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    line-height: 1.6;
}
.usa-banner__header {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 400;
    min-height: 3rem;
    position: relative;
}
.usa-banner__inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.grid-col,
.grid-col-auto {
    width: auto;
    max-width: 100%;
}
.grid-col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.usa-banner__header-flag {
    float: left;
    margin-right: 0.5rem;
    width: 1rem;
}
.grid-col-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    width: auto;
    max-width: 100%;
}
    .tablet\:grid-col,
    .tablet\:grid-col-fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        width: auto;
        max-width: 100%;
    }

    .usa-banner__header-text {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75rem;
    line-height: 1.2;
}
.usa-banner__header-action {
    color: #005ea2;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 2px;
    text-decoration: underline;
}
